In [26]:
import pandas as pd
from regress import *
from math import *

df = pd.read_csv("data/car data.csv")
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [17]:
data = df.loc[:,["Present_Price", "Selling_Price"]]
data.sum()

Present_Price    2296.17
Selling_Price    1403.05
dtype: float64

In [27]:
n = len(df.index)
n_train = floor(0.8 * n)
n_test = n - n_train

train_data = df[:n_train]
test_data = df[n_train : ]
regression = LinearRegression(train_data)
regression.setDataTest(test_data)
regression.setAttribute(["Selling_Price", "Kms_Driven"])
regression.setTarget("Present_Price")
regression.train()
regression.test()

AttributeError: 'LinearRegression' object has no attribute 'setDataTrain'